<section style="background-color:#af601a;">
  <a class="btn btn-outline-secondary" [routerLink]="['']">Inicio</a>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="list line">
        <h1>Rodilla</h1>
        <ol>
          <li>Flexiona ligeramente la rodilla en una posición cómoda</li>
          <li>Coloca la venda en el interior de la rodilla
          </li>Completa vuelta y media rodeando la parte inferior de la rodilla 

          <li>Pasa la venda hasta el comienzo de la parte superior de la rodilla</li>
          <li>Realiza una vuelta que cubra la parte superior de la rodilla</li>
          <li>Pasa la venda a la parte interior de la rodilla</li>
          <li>Vuelve a realizar una vuelta que cubra la parte inferior de la rodilla</li>
        </ol>
      </div>
      <div class="picsum-img-wrapper">
        <img src="assets/img/image9.png" alt="Random first slide">
      </div>
      <div class="content">
          <iframe class="video" src="https://www.youtube.com/embed/VyuGoEMU_Ys"></iframe> 
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="list line">
        <h1>Hombro</h1>
        <ol>
          <li>Ajustar el vendaje en forma vertical sobre el hombro de la persona</li>
          <li>Amarre al cuello para que detenga el peso del brazo.</li>
          <li>Sujete el brazo al cuerpo sin apretar demasiado.</li>
          <li>Asegure que los dedos queden a la misma altura del codo.</li>
        </ol>
      </div>
      <div class="picsum-img-wrapper">
        <img src="assets/img/image2.png" alt="Random second slide">
      </div>
      <div class="content">
          <iframe class="video" src="https://www.youtube.com/embed/ojJi3DPjy4k"></iframe> 
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="list line">
        <h1>Muñeca</h1>
        <ol>
          <li>Ajustar el vendaje alrededor de la fractura asegurando apretar pero no tan fuerte</li>
          <li>Crear una cruz con el vendaje sobre los dedos de la mano y la muñeca.</li>
        </ol>
      </div>
      <div class="picsum-img-wrapper">
        <img src="assets/img/image7.png" alt="Random third slide" id="nino">
      </div>
      <div class="content">
        <iframe class="video" src="https://www.youtube.com/embed/F-61lldeFcA"></iframe> 
    </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="list line">
        <h1>Tobillo</h1>
        <ol>
          <li>Inicia circulando el pie</li>
          <li>Pasa por la cara anterior del tobillo</li>
          <li>Realiza un par de vueltas circulares en la parte baja de la pierna</li>
          <li>Realiza vueltas en forma de ocho que cubran el tobillo</li>
          <li>Vuelve a circular el pie</li>
        </ol>
      </div>
      <div class="picsum-img-wrapper">
        <img src="assets/img/image10.png" alt="Random third slide" id="nino">
      </div>
      <div class="content">
        <iframe class="video" src="https://www.youtube.com/embed/xD9Fpga_FdY"></iframe> 
    </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="list line">
        <h1>Codo</h1>
        <ol>
          <li>Da una vuelta circular sobre la parte superior del codo </li>
          <li>Un cruce de la venda en forma de ocho</li>
          <li>Realiza otra vuelta circular en la parte inferior del codo</li>
        </ol>
      </div>
      <div class="picsum-img-wrapper">
        <img src="assets/img/image5.png" alt="Random third slide" id="nino">
      </div>
      <div class="content">
        <iframe class="video" src="https://www.youtube.com/embed/ioTAz967fkU"></iframe> 
    </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="list line">
        <h1>Antebrazo:</h1>
        <ol>
          <li>Se hace un vendaje en espiral sobre la área fracturada de arriba hacia abajo</li>
        </ol>
      </div>
      <div class="picsum-img-wrapper">
        <img src="assets/img/image1.png" alt="Random third slide" id="nino">
      </div>
      <div class="content">
        <iframe class="video" src="https://www.youtube.com/embed/aoAgpHKzFPo"></iframe> 
    </div>
    </ng-template>
  </ngb-carousel>
</section>