h1 {
    font-size: 150px;
    color: black;
}
section {
    z-index: 0;
}
img {
    height: 90vh;
    width: 38vw;
}
.list {
    height: 100%;
    font-size: 25px;
    color: white;
    position: absolute;
    left:50%;
    top:75px;
}
.line {
    line-height: 70px;
}
.content{
    display: flex;
    justify-content: center;
    background-color:b03a2e;
    height: 100vh;
    width: 100vw;
}
.video{
    margin-top: 10%;
    border: 20px groove #ddd;
    height: 50vh;
    width: 70vh;
}
.btn {
    font-size: 200%;
    color:black;
    border:black;
    cursor: pointer;
}
.btn:hover {
    background-color:#489995;
}

@media screen and (max-width: 480px) {
    /* img { display: block; } */
    .list {
        position: relative;
        left: 0;
        top: 10px;
        font-size: 100%;
    }
    h1 { 
        font-size: 250%;
        align-self: center;
    }
    .line {
        line-height: 200%;
    }
    img { 
        width: auto;
        height: 100%;
    }
    .picsum-img-wrapper {
        display: flex;
        justify-content: center;
    }
}