<section style="background-color : #b03a2e;">
  <a type="button" class="btn btn-outline-secondary" [routerLink]="['']">Inicio</a>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="list line">
        <h1>Convulsiones</h1>
        <ol>
          <li>Acostar a la persona </li>
          <li>Proteger la cabeza con un cojín o tu mano para evitar que se golpeé</li>
          <li>Poner a la persona en un costado y dejar que pasen las convulsiones.</li>
        </ol>
      </div>
      <div class="picsum-img-wrapper">
        <img src="assets/img/image15.png" alt="Random first slide">
      </div>
      <div class="content">
          <iframe class="video" src="https://www.youtube.com/embed/UBXh5gA0k48"></iframe> 
      </div>
    </ng-template>
  </ngb-carousel>
</section>