h1 {
    font-size: 150px;
    color: black;
}
section {
    z-index: 0;
}
img {
    height: 100vh;
    width: 50vw;
}
.list {
    height: 100%;
    font-size: 25px;
    color: white;
    position: absolute;
    left:50%;
    top:75px;
}

.line {
    line-height: 70px;
}
.content{
    text-align: center;
    background-color:#148f77;
    height: 100%;
    width: 100%;
}
.video{
    margin: 120px;
    border: 20px groove #ddd;
    height: 50vh;
    width: 70vh;
}