<section style="background-color:#148f77;">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/image4.png" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h1>ADULTOS</h1>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/image6.png" alt="Random second slide">
      </div>
      <div class="carousel-caption">
          <h1>BEBES</h1>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/image14.png" alt="Random third slide" id="nino">
      </div>
      <div class="carousel-caption">
          <h1>INFANTES</h1>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/image8.png" alt="Random first slide">
      </div>
      <div class="carousel-caption">
          <h1>EMBARAZDAS</h1>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img/image13.png" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h1>ESTANDO SOLO</h1>
        </div>
    </ng-template>
  </ngb-carousel>
</section>
<app-video></app-video>