<section style="background-color:#2874a6;">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="list line">
          <h1>ADULTOS</h1>
          <ol>
            <li>Pon un mano sobre la otra y los dedos entrelazados.</li>
            <li>En el pecho, ligeramente del lado izquierdo iniciar compresiones fuertes (5 pulgadas de presión). Dos compresiones por segundo o siguiendo el beat de Stayin Alive.</li>
            <li>Si estas sólo, son 30 compresiones con 2 respiraciones. Si son dos o más personas se alternan 15 compresiones con 2 respiraciones.</li>
          </ol>
        </div>
        <div class="picsum-img-wrapper">
          <img src="assets/img/image4.png" alt="Random first slide">
        </div>
        <div class="content">
            <iframe class="video" src="https://www.youtube.com/embed/CjJ7TyE7nnE"></iframe> 
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="list line">
          <h1>BEBÉ LACTANTE</h1>
          <ol>
            <li>Con una sola mano para que sea menor la fuerza, haz compresiones en el pecho, ligeramente hacia la izquierda,</li>
            <li>Si estas sólo, son 30 compresiones con 2 respiraciones. Si son dos o más personas se alternan 15 compresiones con 2 respiraciones.</li>
          </ol>
        </div>
        <div class="picsum-img-wrapper">
          <img src="assets/img/image6.png" alt="Random second slide">
        </div>
        <div class="content">
            <iframe class="video" src="https://www.youtube.com/embed/QB2gYFDZ2Jw"></iframe> 
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="list line">
          <h1>INFANTES</h1>
          <ol>
            <li>Con el dedo índice y el del medio para que sea menor la fuerza, haz compresiones en el pecho, ligeramente hacia la izquierda</li>
            <li>Si estas sólo, son 30 compresiones con 2 respiraciones. Si son dos o más personas se alternan 15 compresiones con 2 respiraciones. </li>
          </ol>
        </div>
        <div class="picsum-img-wrapper">
          <img src="assets/img/image14.png" alt="Random third slide" id="nino">
        </div>
      </ng-template>
    </ngb-carousel>
  </section>